<h2>Stream</h2>
<%= form_for @user, :url => api_user_url(@user), html: { class: "avatar-upload" },
:html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
  <%= form.submit "upload" %>
<% end %>
<script charset="utf-8">
$(document).ready(function(){
  Cloudsound.initialize();
});
</script>
