<h2>Stream</h2>
<%= form_for @user, :url => api_user_url(@user), html: { class: "avatar-upload" },
:html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
  <%= form.submit "upload" %>
<% end %>
<script charset="utf-8">
$(document).ready(function(){
  Cloudsound.initialize();
});
// $($(".avatar-uplaod").submit()
//
//
//
//
//   renderFileUpload: function () {
//     that = this;
//     this.$('#new-track').fileupload({
//       url: '/api/tracks',
//       replaceFileInput: false,
//       progress: function (e, data) {
//         var progress = parseInt(data.loaded / data.total * 100, 10);
//         $('#progress').css('display', "block");
//         $('#progress .bar').css('width', progress + '%');
//       },
//
//       add: function (e, data) {
//         $('#create-track').click(function () {
//           var types = /(\.|\/)(mp3|aac|ogg|wav)$/i;
//           file = data.files[0];
//           $(".file-type-error").css("display", "none").empty();
//           if (types.test(file.type) || types.test(file.name)) {
//             if ($("#track-title").val()) {
//               data.submit();
//             }
//           }
//           else {
//             $(".file-type-error").css("display", "block").append("Please upload mp3, wav, aac, or ogg file formats");
//             $("#track-audio").effect( "shake", 500 );
//           }
//         });
//       },
//
//       done: function (e, data) {
//         $("input[type='text']").val("");
//         $('#create-track').css("display", "block");
//         $('#progress-message').text('Upload finished.');
//         Backbone.history.navigate("track/" + data.result.id, { trigger: true });
//
//       },
//
//       fail: function (e, data) {
//         $('#progress .bar').css('background', 'red');
//         $.each(data.jqXHR.responseJSON, function (key, val){
//           $(".errors").addClass("alert alert-danger").text(val);
//         });
//
//       }
//     });
// });

</script>
