<div id="user-feed">

<div class="header-links feed-links clearfix">
  <a href="/#" class="stream medium link active">Stream</a>
  <a href="/#explore" class="explore medium link">Explore</a>
</div>
<div class="feed">



</div>
</div>
