<div id="explore">

<div class="header-links feed-links clearfix">
  <a href="/#" class="stream medium link ">Stream</a>
  <a href="/#explore" class="explore medium link active">Explore</a>
</div>
  <h3 class="explore-heading">Tracks</h3>
<div class="explore-tracks">



</div>
  <h3 class="explore-heading">Users</h3>
<div class="explore-users clearfix">


</div>
</div>
