<div id="explore">

<div class="header-links feed-links clearfix">
  <a href="/#" class="stream medium link ">Stream</a>
  <a href="/#explore" class="explore medium link active">Explore</a>
</div>
<div class="explore-tracks">
  <h4>Tracks</h4>



</div>
<div class="explore-users">
  <h4>Users</h4>


</div>
</div>
