<div class="user-info">
  <img src="#" alt="avatar" class="avatar" />
  <h1> <%= user.get("username") %> </h1>
  <div class="user-links">

  </div>
</div>
<div class="following-users following row">


</div>
