<% debugger %>
  <h4 class="username"><%= comment.get("user") %></h4>
  <h5 class="comment-time-ago"> <%= comment.get("time_ago") %></h5>
  <p class="content col-xs-12"> <%= comment.get("content") %> </p>
