<ul class="nav navbar-nav navbar-right">
  <li>
    <div class="sign-in navbar-links" data-toggle="modal" data-target="#loginModal">
      Sign In
    </div>

  </li>
  <li>
    <div class="nav-or">or<div>
  </li>
  <li>
    <div class="sign-up navbar-links" data-toggle="modal" data-target="#signUpModal">
      Sign Up
    </div>

  </li>
</ul>
