<ul class="nav navbar-nav navbar">
  <li>
    <a href="/about" class="navbar-links" aria-hidden="true">About</a>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li>
    <div class="sign-in navbar-links">
      Sign In
    </div>

  </li>
  <li>
    <div class="nav-or">or<div>
  </li>
  <li>
    <div class="sign-up navbar-links">
      Sign Up
    </div>

  </li>
</ul>
<script type="text/javascript">
$(function () {
  $(".sign-in").click(function () {
    $("#signUpModal").hide();
    $("#loginModal").show();
  });
  $(".sign-up").click(function () {
    $("#loginModal").hide();
    $("#signUpModal").show();
  });
  $(".btn.close").click(function () {
    $("#loginModal").hide();
    $("#signUpModal").hide();
  });
});
</script>
