<ul class="nav navbar-nav navbar">
  <li>
    <%= button_to "Upload", session_url, class: "sign-in btn btn-default navbar-btn", method: :delete%>
  </li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li>
    <%= button_to "Sign Out", session_url, class: "sign-in btn btn-default navbar-btn", method: :delete%>
  </li>
</ul>
