<ul class="nav navbar-nav navbar">
  <li>
    <a href="/#explore" class="navbar-links upload" aria-hidden="true">Explore</a>
  </li>
  <li>
    <a href="/#user/<%= current_user.id %>/upload" class="navbar-links upload" aria-hidden="true">Upload</a>
  </li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="/#user/<%= current_user.id %>" class="navbar-links glyphicon glyphicon-user" aria-hidden="true"></a>
  </li>
  <li>
    <a href="/#user/<%= current_user.id %>/settings" class="navbar-links glyphicon glyphicon-cog" aria-hidden="true"></a>
  </li>
  <li>
    <a class="navbar-links glyphicon glyphicon-off" rel="nofollow" data-method="delete" href="/session"></a>
  </li>
</ul>
