<!-- gem remotipart -->
<h1>Upload a sound</h1>
  <div class="errors alert alert-danger alert-dismissible fade in">
    <p class="title-error"> </p>
    <p class="file-error"> </p>
  </div>

  <div class="file-type-error alert alert-danger alert-dismissible fade in">
  </div>

<div>


<form
    id="new-track"
    enctype="multipart/form-data"
    action="/api/tracks"
    accept-charset="UTF-8"
    method="post">
    <input type="hidden" name="authenticity_token" value="<%= AUTH_TOKEN %>">
    <input type="hidden" name="track[user_id]" value="<%= user.get("id") %>">
    <input name="utf8" type="hidden" value="✓">
    <label class="track-title-wrapper" for="track-audio">Title*
      <input id='track-title' type="text" name="track[title]">
    </label>


    <input type="file" name="track[audio]" id="track-audio" >
    <label class="btn btn-default" for="track-audio">Choose a sound to upload</label>
    <button type="button" class="btn btn-default" id="save">Save</button>
  </form>


  <p id="progress-message" class="col-xs-4 col-xs-offset-4">
  </p>

</div>

<div class="meter orange nostripes">
	<span></span>
</div>
