<div class="track-page row">
  <aside class="col-sm-4">
    <div class="page-header col-sm-4 col-sm-offset-4">
      <h4 class="header-center">
          <%= track.get("user").username %>
      </h4>
    </div>

  </aside>


  <div class="col-sm-8">
    <div class="page-header row">
      <h1><%= track.get("title") %></h1>
    </div>
    <div class="track-player row">
      <div class="track_item">
        <audio controls>
          <source src="<%= track.get("audio") %>" type="<%= track.get('audio_content_type') %>">
            Your browser does not support the audio element.
        </audio>
      </div>
    </div>
    <div class="track-options row">
      <div>
        <a class="delete-track" href="#">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
        </div>
    </div>

    <div class="track-comments row">
      <h4 class="header-center">
        Comments
      </h4>
    </div>
  </div>

</div>
