<form class="new_track" id="new_track" enctype="multipart/form-data" action="/api/tracks" accept-charset="UTF-8" method="post">
  <input type="hidden" name="track[user_id]" value="<%= current_user.id %>">
  <input type="text" name="title" id="track_audio">
  <input type="file" name="audio" id="track_audio">
  <input type="submit" class="upload" value="upload">
</form>
