<!-- gem remotipart -->

<% gradient = 'linear-gradient(' + Math.floor(Math.random() * 360 + 1)
+ 'deg, #'
+ Math.floor(Math.random()*16777215).toString(16)
+ ', #'
+  Math.floor(Math.random()*16777215).toString(16) + ')'%>

<div class="new-track-wrapper">

  <h3 id="upload-header">Upload a sound</h3>
    <div style="display: none;" class="alert alert-danger alert-dismissible">
      <p class="title-error"> </p>
      <p class="file-error"> </p>
    </div>

    <div class="file-type-error alert alert-danger alert-dismissible">
      Please upload mp3, wav, aac, or ogg file formats
    </div>

  <div>


  <form
      id="new-track"
      class="clearfix"
      enctype="multipart/form-data"
      action="/api/tracks"
      accept-charset="UTF-8"
      method="post">
      <input type="hidden" name="authenticity_token" value="<%= AUTH_TOKEN %>">
      <input type="hidden" name="track[user_id]" value="<%= user.get("id") %>">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="track[avatar_gradient]" value="<%= gradient %>">


      <div class="chooser">
        <input type="file" name="track[audio]" id="track-audio" >
        <label class="upload-button btn btn-default" for="track-audio">Choose a sound to upload</label>
      </div>

      <div class="meter orange nostripes">
      	<span class="meter-bar"></span>
        <span class="percent"></span>
      </div>

      <div id="track-extra-info">
        <div class="header-links upload-links clearfix">
          <span class="basic medium link active">Basic Info</span>
        </div>

        <div class="track-avatar-wrapper clearfix">
          <div class="track-avatar" style="background:<%= gradient %>" > </div>
        </div>

        <div class="right">

          <label class="track-title-wrapper require" for="track-title">Title</label>
          <input id='track-title' type="text" class="form-control" name="track[title]">

          <label class="track-description-label" for="track-description">Description</label>
          <textarea id='track-description' type="text" class="form-control" name="track[description]"></textarea>
          <button type="button" class="btn btn-default" id="save">Save</button>
        </div>
      </div>

    </form>




  </div>

</div>
