<!-- gem remotipart -->

  <div class="errors alert alert-danger alert-dismissible fade in">
    <p class="title-error"> </p>
    <p class="file-error"> </p>
  </div>

  <div class="file-type-error alert alert-danger alert-dismissible fade in">
  </div>

<div class="row">
<form
    class="new_track col-xs-4 col-xs-offset-4"
    id="new_track"
    enctype="multipart/form-data"
    action="/api/tracks"
    accept-charset="UTF-8"
    method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= AUTH_TOKEN %>">
    <input name="utf8" type="hidden" value="✓">
    <label class="track-title-wrapper" for="track_audio">Title*
      <input id='track-title' type="text" name="track[title]">
    </label>
    <input type="hidden" name="track[user_id]" value="<%= currentUser.get("id") %>">
    <input type="file" name="track[audio]" id="track_audio">
    <input id="create-track" type="submit" name="commit" value="upload">
  </form>

  <div id="progress" class="col-xs-4 col-xs-offset-4">
      <div class="bar"></div>
  </div>
  <p id="progress-message" class="col-xs-4 col-xs-offset-4">
  </p>
  <script charset="utf-8">



  </script>
</div>
