<!-- gem remotipart -->
<h3 id="upload-header">Upload a sound</h3>
  <div class="errors alert alert-danger alert-dismissible fade in">
    <p class="title-error"> </p>
    <p class="file-error"> </p>
  </div>

  <div class="file-type-error alert alert-danger alert-dismissible fade in">
  </div>

<div>


<form
    id="new-track"
    enctype="multipart/form-data"
    action="/api/tracks"
    accept-charset="UTF-8"
    method="post">
    <input type="hidden" name="authenticity_token" value="<%= AUTH_TOKEN %>">
    <input type="hidden" name="track[user_id]" value="<%= user.get("id") %>">
    <input name="utf8" type="hidden" value="✓">


    <div class="chooser">
      <input type="file" name="track[audio]" id="track-audio" >
      <label class="upload-button btn btn-default" for="track-audio">Choose a sound to upload</label>
    </div>

    <div class="meter orange nostripes">
    	<span></span>
    </div>


    <div class="header-links upload-links clearfix">
      <span class="basic medium link active">Basic Info</span>
    </div>

    <label class="track-title-wrapper require" for="track-title">Title</label>
      <input id='track-title' type="text" class="form-control" name="track[title]">

  </form>


    <button type="button" class="btn btn-default" id="save">Save</button>
  

</div>
