.comment-item {
  border: 0;
  .content{
    padding-left: 30px;
  }
  .comment-username {
    color: $light-text-color;
    padding: 2px 0;
    &.hover {
      color: $text-color;
    }

  }
  .comment-time-ago {
    float: right;
  }

  .comment-avatar{
    height: 40px;
    width: 40px;
  }

  .avatar-link {
    float: left;
    padding-right: 10px;
  }
}


.comments {
  border-right: 1px solid #f2f2f2;
  min-width: 469px;
  max-width: 730px;
  padding: 0 30px;
  float: left;


  .avatar-mini {
    height: 40px;
    width: 40px;
  }

  .write-comment {
    padding-bottom: 15px;
  }

  .comment-count{
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 7px;
    font-weight: 100;
    color: $light-text-color;
  }
  .header-center {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
  }

  .comment-box {
    width: 80%;
  }

}
