.feed-links {
  margin-bottom: 15px;
  .link {
    display: block;
    float: left;
    font-weight: 500;
    margin-right: 20px;
    margin-bottom: -1px;
    &:hover {
      border-bottom: 1px solid black;
    }
    &.active {
      border-bottom: 1px solid $primary-color;
      color: $primary-color;
    }
  }
}
