body {
  color: $text-color;
  background: #F2F2F2;
}
a, a:hover, a:focus {
  color: black;
}
a{
  text-decoration: none !important;
}
.navbar-default {
  display: none;
}
#content {
  padding: 0 25px;
}
.medium {
  font-size: 18px;
}
.container {
  width: $max-page-width;
  background: white;
}
.guest-login {
  width: 102px;
  margin: auto;
}
