body {
  color: $text-color;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 12px;
}
a, a:hover, a:focus {
  color: black;
}
a{
  text-decoration: none !important;
}
#content {
  padding: 0 25px;
  max-width: $max-page-width;
  min-width: $min-page-width;
  background: white;
  min-height: 900px;
}

.medium {
  font-size: 18px;
}

.guest-login {
  width: 102px;
  margin: auto;
}
label {
  color: #333;
}
input[type="text"],input[type="password"] {
  font-size: 18px;
  line-height: 24px;
  padding: 7px 8px;
  border-radius: 5px;
}

input[type="file"] {
  color: transparent;
}

.container {
  max-width: $max-page-width;
  min-width: $min-page-width;
}
