
.navbar-default {
  margin: 0;
  background: #070707;

  .navbar-links {
    padding: 15px 10px;
    color: #ccc!important;
    &:hover {
      color: #eee!important;
    }
  }

  .navbar-header{
    .glyphicon-cloud{
      font-size: 28px;
      color: $primary-color;
    }
  }
  .navbar-nav {

    .navbar-btn{
      @include button-size(
        $padding-base-vertical,
        $padding-base-horizontal,
        $font-size-base,
        $line-height-base,
        $border-radius-base
      );
      color: $btn-default-color;
      background: $btn-default-bg;
      &:hover, &:focus {
        color: lighten($btn-default-color, 20%);
        background: $button-hover-bg;
      }
    }

  }
}

.sign-up{
  text-align: center;
}

.sign-in {
  text-align: center;
}
