
.navbar-default {
  margin: 0;
  border: 0;
  background: $navbar-color;
  border-radius: 0px;


  .nav-or {
    font-size: 16px;
    padding: 15px 15px;
    color: #ccc !important;
    line-height: 20px;
    background-color: transparent;
  }

  .container {
    background: #333;
  }
  .navbar-links {
    padding: 15px 15px;
    color: #ccc!important;
    font-size: 18px;
    &.upload {
      font-size: 16px;
    }
    &:hover {
      
      color: #eee!important;
    }
  }

  .navbar-header{
      &:hover{
        animation-name: tossing;
      	-webkit-animation-name: tossing;

      	animation-duration: 3.5s;
      	-webkit-animation-duration: 3.5s;

      	animation-iteration-count: infinite;
      	-webkit-animation-iteration-count: infinite;
      }
    .glyphicon-cloud{
      font-size: 28px;
      color: $primary-color;
    }
  }
  .navbar-right {
    @media (max-width: $screen-lg-min) {
      padding-right: 100px;
    }
    @media (max-width: $screen-md-min) {
      padding-right: 130px;
    }
    @media (max-width: $screen-sm-min) {
      padding-right: 240px;
    }
  }

  .navbar-nav {

    .sign-in{
      font-size: 16px;
      padding: 15px 15px;
      color: #ccc !important;
      line-height: 20px;
      background-color: transparent;
    }
    .sign-up{
      font-size: 16px;
      padding: 15px 15px;
      color: $primary-color !important;
      line-height: 20px;
      background-color: transparent;
    }

  }
}

.sign-up{
  text-align: center;
}

.sign-in {
  text-align: center;
}
