  // Place all the styles related to the api/tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-track-wrapper {
  max-width: 800px;
  margin: auto;
}

#upload-header {
  text-align: center;
}
#progress{
  background: lightgray;
  width: 350px;
  margin-top: 15px;
  padding: 0;
  display: none;
}
.bar {
    width: 0%;
    height: 18px;
    background: green;
}
#new-track {
  position: relative;
  #create-track {
    margin-top: 10px;
  }

  .chooser {
    margin-top: 30px;
    text-align: center;
    .upload-button {
      color: white;
      padding: 2px 12px;
      background: $primary-color;
      border-color: $primary-color;
    }
  }

  .right {
    float:right;
    width: 475px;
  }

}

.avatar-errors{
  position: absolute;
  width: 143px;
  text-align: center;
  padding: 5px 10px;
  background: white;
  border: 0;
  margin-left: 84px;
  margin-top: 5px;
  display: none;
}
.file-type-error {
  margin: 0 auto 10px auto;
  width: 50%;
  display: none;
}
.track-title-wrapper {
  display: block;

}
#track-title, #track-description {
  margin-bottom:15px;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 7px;
  border-radius: 4px;
}
#track-description {
  resize: vertical;
  height: 151px;
}

.track-avatar {
  width: 300px;
  height: 300px;
}

.track-avatar-wrapper {
  float: left;
}

#track-extra-info {
  display: none;
}

#edit-track-avatar {
  display: none;
}

#choose-track-avatar {
  border: 1px solid #e5e5e5;
  position: absolute;
  left: 20px;
  bottom: 30px;
  width: 260px;
  font-size: 11px;
  padding: 2px 9px 2px 8px;
  height: 22px;
  line-height: 16px;
  border-radius: 3px;
  display: inline-block;
  &:hover {
    outline: 0;
    border-color: #ccc;
    background: white;
  }
}



.progress-circle {
  width: 300px;
  height: 300px;
  background: linear-gradient(181deg, #5ed2ba, #e39a13)
}

#track-audio {
  color:transparent;
  display: none;
}

.meter {
  text-align: center;
  visibility:hidden;
  box-sizing: content-box;
  height: 10px;
  position: relative;
  margin: 60px 0 20px 0;
  background: #fff;
  padding: 0px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  border: 1px solid  #ccc;
  // display: none;
  .percent {
    margin-top: 5px;
    display: inline-block;
  }
  &.nostripes {
    > .meter-bar:after {
      -webkit-animation: none;
      -moz-animation: none;
      background-image: none;
    }
  }
  .meter-bar {
    width: 0px;
    display: block;
    height: 100%;
    background-color: #2189c9;
    -webkit-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
      background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
      z-index: 1;
      -webkit-background-size: 50px 50px;
      -moz-background-size: 50px 50px;
      background-size: 50px 50px;
      -webkit-animation: move 2s linear infinite;
      -moz-animation: move 2s linear infinite;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      overflow: hidden;
    }
  }
}
