.edit-track {

  .track-avatar {
    width: 200px;
    float: left;
    height: 200px;
  }
  .description {
    textarea {
      height: 108px;
    }
  }

  .username {
  }

  .form-group {

  }

  .form-group-right {
    width: 68%;
    float: right;

  }
  .track-edit-title {
    font-size: 20px;
    margin-bottom: 10px
  }
}
