.track-page {



  .track-item {
    position: relative;
    .track-info {
      width: 100%;
      padding: 30px 0px 0px 30px;
      position: absolute;
      z-index: 10;
      color: #fff;
    }

    .track-page-avatar {
        position: absolute;
        right: 30px;
      .track-avatar-large {
        width: 300px;
        height: 300px;
        margin-right: 30px;
        border: 0;
      }
    }

    .play {
      outline: 0;
      width: 58px;
      height: 58px;
      float: left;
      padding: 0 0 0 3px;
      color: #fff;
      margin: 8px 0 1px 1px;
      display: inline-block;
      line-height: 15px;
      font-size: 18px;
      background-color: $primary-color;
      border-radius: 50%;
      border: 0;
    }

    .track-time-ago {
      font-size: 12px;
      line-height: 20px;
      float: right;
    }

    .right-sidebar {
      float: right;
      height: 300px;
      width: 370px;
      padding: 30px;
    }

    .track-item-user {
      font-size: 16px;
      line-height: 20px;
    }


    .track-item-wrapper {
      margin-left: 15px;
      float: left;
      width: 50%;
      &.time-ago {
        width: 45%
      }
      @media (min-width: $screen-md-min) {
        width: 55%;
      }
      @media (min-width: $screen-md-min) {
        width: 60%;
      }
    }

    .track-item-title {
      font-size: 24px;
      line-height: 33px;
    }

    .wave-track {

      > wave {
        // -webkit-box-shadow: 0px 0px 69px -2px rgba(0,0,0,0.49);
        // -moz-box-shadow: 0px 0px 69px -2px rgba(0,0,0,0.49);
        // box-shadow: 0px 0px 69px -2px rgba(0,0,0,0.49);
        > canvas {
          width: 60%!important;
          margin-top: 0px;
          height: 380px;
          transform: translateY(190px);

          @media (min-width: $screen-sm-min) {
          }
          @media (min-width: $screen-md-min) {
            width: 65%!important;
          }
          @media (min-width: $screen-lg-min) {
            width: 70%!important;
          }

        }
      }
    }
  }


  .track-options {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
  }

  .track-description {
    position: relative;
    height: 165px;
    margin: 30px 332px 0 130px;
    min-width: 469px;
    max-width: 730px;
    float: none;
  }

  .user-info {
    margin-left: 20px;
    margin-top: 30px;
    float:left;
    .user-avatar {

    }

    .avatar-thumb {
      height: 100px;
      width: 100px;
    }

    .user-stats {
      padding-top: 10px;
    }


    .count {
      color: #999;
      font-size: 10px;
      line-height: 12px;
    }

    .user-followers {
      display: inline-block;
      margin: 5px 5px 5px 0;
      padding-right: 4px;
      font-size: 10px;
      font-weight: 100;
      line-height: 15px;
      color: #999;
      &:before {
        background-size: 16px 16px;
        width: 16px;
        height: 12px;
        display: inline-block;
        content: "";
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCI+PHBhdGggZmlsbD0icmdiYSgxNTMsIDE1MywgMTUzLCAwLjcpIiBkPSJNMTguNCAxOC41bDIuNSA1IC4yLjVoNi45bC0yLjEtNC4zLTQuMS0xLjV2LTIuNWMxLjItMS4xIDEuOC0zLjIgMS44LTUuMSAwLTIuMS0yLTMuNi0zLjUtMy42cy0zLjUgMS42LTMuNSAzLjZjMCAxLjkuNSA0IDEuOCA1LjF2Mi41aC0uMWwuMS4zeiIvPjxwYXRoIGZpbGw9IiM5OTkiIGQ9Ik0xNy41IDE5bC01LTEuOHYtM2MxLjQtMS4yIDItMy44IDItNS45IDAtMi40LTIuMy00LjMtNC00LjMtMS43IDAtNCAxLjgtNCA0LjMgMCAyLjIuNiA0LjcgMiA1Ljl2M2wtNSAxLjgtMi41IDVoMTlsLTIuNS01eiIvPjwvc3ZnPg==)
      }
    }
    .user-tracks {
      margin-right: 0;
      padding-right: 0;
      color: #999;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 10px;
      font-weight: 100;
      line-height: 12px;
      display: inline-block;
      &:before {
        background-size: 16px 16px;
        width: 16px;
        height: 12px;
        display: inline-block;
        content: "";
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCI+PHBhdGggZmlsbD0iIzIyMiIgZD0iTTUgMTJoMnY0aC0yek0yMSAxMmgydjRoLTJ6TTE3IDEwaDJ2OGgtMnpNOSA4aDJ2MTJoLTJ6TTEzIDVoMnYxOGgtMnoiLz48L3N2Zz4=)
      }
    }

  }

}
