/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 */
$text-color: #333;
$light-text-color: #999;
$primary-color: #f51;

$button-hover-bg: #e6e6e6;
$max-page-width: 1200px;
$min-page-width: 975px;
$track-max-width: 1200px;
$track-min-width: 975px;

$grid-float-breakpoint: 200px;
$navbar-color: #333;
$page-divider-color: #f2f2f2;


@import "bootstrap-sprockets";
@import "partials/bootstrap-custom";
@import "partials/reset";
@import "partials/globals";
@import "partials/nav";
@import "partials/track_new";
@import "partials/track_show";
@import "partials/track_item";
@import "partials/comments";
@import "partials/following";
@import "partials/feed";
@import "partials/settings";
@import "partials/profile";
@import "partials/audio_controls";
@import "partials/animations";
